/*  === CR SPECIFIC  ===  */

#logoheader {
  background: #1e79a7;
}

#logoheader img {}

/*  === CR SPECIFIC  ===  */

/*  === COMMON ===  */

/* BLGGR OVRRD */
.widget ul {
  margin: 0 !important;
  padding: 0 !important;
}

/* /BLGGR OVRRD */

a {
  color: green;
  color: #1a73e8;
}

body {
  font-family: Roboto, Arial, sans-serif;
  line-height: 1.2em;
}

.container {
  width: 90%;
  margin: 10px auto;
  max-width: 800px;
}

#logoheader {
  padding: 10px;
}

#logoheader > div {
  height: 50px;
  overflow: hidden;
}

.postheadline {
  max-height: 10vh;
  overflow: hidden;
  display: block;
  margin: 10px 10px 10px 0;
}

.postbody {
  max-width: 600px;
  margin: 0 auto;
  min-height: 400px;
}

h1 {
  font-size: 1.7em;
  line-height: 1.1em;
}

.postbody h2 {
  display: none;
}

h3 {
  font-size: 1em;
}

.postbody img {
  max-height: 50vh;
  max-width: 80vw;
}

#cse_container {
  min-height: 50px;
}

#allLabels {
  column-count: 4;
}

.bd_index .panel {
  box-shadow: 0 0 10px gray;
  padding: 10px;
  margin: 10px 0;
}

.bd_index .panel * {
  font-size: 14px;
  color: black;
}

.bd_index .panel a {
  text-decoration: underline;
  color: black;
}

.bd_index .postheadline > h2 a, .bd_item .postheadline {
  text-transform: uppercase;
  text-decoration: none;
}

.bd_index .postheadline > h2 a {
  line-height: 1.1em;
  font-size: 1.5em;
}

.pager {
  font-size: 130% !important;
  column-count: 2;
  margin: 38px auto !important;
  padding: none !important;
}

.pager a {
  font-weight: bold;
  background: #ddd;
  padding: 10px;
  border-radius: 50px;
  text-decoration: none;
  display: block;
}

.pager li {
  list-style: none;
  text-align: center;
}

.well {
  margin: 20px 0;
  padding: 10px 0;
  border-top: solid 1px #aaa;
  border-bottom: solid 1px #aaa;
}

footer .well > p {
  font-size: 12px;
  line-height: 1em;
}

/*  === /COMMON ===  */